<!--<div class="wrap-table100">-->

<!--</div>-->
<div class="container-table100">

    <div class="wrap-table100">

        <div class="table100 ver6 m-b-110">
            <table data-vertable="ver2">

                <!--<caption class="btn-danger"><b class="text-hov-white" font-size="20px">{{title}}</b></caption>-->
                <caption class="btn-danger tabletitle">Групи</caption>

                <thead>
                <tr class="row100 head">
                    <th class="column100 date" data-column="column1">дата</th>
                    <th class="column100 game" data-column="column1"></th>
                    <th class="column100" data-column="column1">позиция</th>
                    {{#each users}}
                        <th class="column100" data-column="column2">{{this.name}}</th>
                    {{/each}}
                </tr>
                </thead>

                <tbody>
                {{#each matches}}
                    {{#if this.isSeparator}}
                        <tr class="row200">
                            <td class="column100" colspan="{{this.span}}">{{this.team1}}</td>
                        </tr>
                    {{else}}
                        <tr class="row100">
                            <td class="column100 date" data-column="column1">{{this.date}}</td>

                            {{#if this.href}}
                                <td class="column100 game" data-column="column1"><a href="/game/matchedit/{{this.href}}" class="btn resultbtn">{{this.team1}} : {{this.team2}}</a></td>
                                <td class="column100 result" data-column="column2"><a href="/game/matchresult/{{this.href}}" class="btn resultbtn">{{this.result}}</a></td>
                            {{else}}
                                <td class="column100 game" data-column="column1">{{this.team1}} : {{this.team2}}</td>
                                <td class="column100 result" data-column="column2">{{this.result}}</td>
                            {{/if}}

                            <!--<td class="column100 result" data-column="column2">{{this.result}}</td>-->
                            {{#each this.bets}}
                                {{#if this.current}}
                                    <td class="column100" data-column="column2"><a href="/{{this.href}}" id="1" class="btn resultbtn">{{this.result}} ({{this.points}})</a></td>
                                {{else}}
                                    <td class="column100{{this.className}}" data-column="column2">{{this.result}} ({{this.points}})</td>
                                {{/if}}
                            {{/each}}
                            <!--<td class="column100 totalmatch" data-column="column2">1 : 1</td>-->
                            <!--<td class="column100 nomatch" data-column="column2">3 : 1</td>-->
                        </tr>
                    {{/if}}
                {{/each}}

                <tr class="row200">
                    <td class="column100" colspan="7"><a href="/game/groupbet/1" class="btn resultbtn">Група А</a></td>
                </tr>

                <tr class="row100">
                    <td class="column100 date" data-column="column1">17.06 15:40</td>
                    <td class="column100 game" data-column="column1">Русия</td>
                    <td class="column100 result" data-column="column2">няма</td>
                    <td class="column100" data-column="column3">няма</td>
                    <td class="column100" data-column="column4"><button id="1">1 (0)</button></td>
                </tr>

                <tr class="row100">
                    <td class="column100 date" data-column="column1"></td>
                    <td class="column100 game" data-column="column1">Уругвай</td>
                    <td class="column100 result" data-column="column2">няма</td>
                    <td class="column100" data-column="column3">няма</td>
                    <td class="column100" data-column="column4"><button id="1">2 (0)</button></td>
                </tr>

                <tr class="row100">
                    <td class="column100 date" data-column="column1"></td>
                    <td class="column100 game" data-column="column1">Египет</td>
                    <td class="column100 result" data-column="column2">няма</td>
                    <td class="column100" data-column="column3">няма</td>
                    <td class="column100" data-column="column4"><button id="1">3 (0)</button></td>
                </tr>

                <tr class="row100">
                    <td class="column100 date" data-column="column1"></td>
                    <td class="column100 game" data-column="column1">Саудитска Арабия</td>
                    <td class="column100 result" data-column="column2">няма</td>
                    <td class="column100" data-column="column3">няма</td>
                    <td class="column100" data-column="column4"><button id="1">4 (0)</button></td>
                </tr>

                <tr class="row200">
                    <td class="column100" colspan="7">Група B</td>
                </tr>

                <tr class="row100 footer">
                    <th class="column100" colspan="3">точки за кръга</th>
                    {{#each total.round}}
                        <th class="column100 match">{{this}}</th>
                    {{/each}}
                    <!--<th class="column100 match">75</th>-->
                    <!--<th class="column100 match">31</th>-->
                </tr>

                <tr class="row100 footer">
                    <th class="column100" colspan="3">бонус точки</th>
                    {{#each total.bonus}}
                        <th class="column100 match">{{this}}</th>
                    {{/each}}
                    <!--<th class="column100 match"></th>-->
                    <!--<th class="column100 match"></th>-->
                </tr>

                <tr class="row100 footer">
                    <th class="column100 totalmatch" colspan="3">общо точки</th>
                    {{#each total.total}}
                        <th class="column100 totalmatch">{{this}}</th>
                    {{/each}}
                    <!--<th class="column100 totalmatch">общо точки</th>-->
                    <!--<th></th>-->
                    <!--<th class="column100 totalmatch">125</th>-->
                    <!--<th class="column100 totalmatch">85</th>-->
                </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>
</div>